# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env
.env.local

# DB
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
